<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * *  <app-topo></app-topo> * * * * * * * * * * * * * * * * * * * -->

<body>
  <div class="bg-padrao">

 
    
  
  
    <router-outlet></router-outlet>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  </div>

</body>





