.navbar {
    background-color: orange;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    
    font-weight: bold;
    color: #FF8C00;
  }
  .teste{
    
  }
  .form{
    background-color: black;
  }
  .body{
    background-color: black;
  }
  